.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 100px;
    flex-grow: 1;
    background: linear-gradient(300deg, #17c511 0%, #1ee2e2 0%, #caec07 100%);
  }


  .title {
    color: #fff;
    text-align: center;
  }

  .lifecycle {
    padding: 20px 10px;
    align-items: center;
  }

  .mycontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    height: 312px;
    width: 344px;
    margin: 10px;
    background-color: #17c511;
  }

  .jobtitle {
    width: 100%;
    background-color: red;
  }
  .company {
    width: 100%;
    background-color: blue;
  }

  .image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 100%;
    background-color: white;
  }
  .jobLogo {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  
  .location {
    width: 100%;
    background-color: grey;
  }
  .date {
    width: 100%;
    background-color: yellow;
  }