.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding-top: 100px;
    flex-grow: 1;
    background: linear-gradient(300deg, #17c511 0%, #1ee2e2 0%, #caec07 100%);
  }


  .title {
    color: #fff;
    text-align: center;
  }

  .lifecycle {
    padding: 20px 10px;
    align-items: center;
  }

  .mycontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 500px;
    width: 300px;
    background-color: #17c511;
  }

  .mydiv1 {
    height: 50px;
    width: 100%;
    background-color: red;
  }
  .mydiv2 {
    height: 50px;
    width: 40%;
    background-color: blue;
  }

  .mydiv3 {
    height: 50px;
    width: 80%;
    background-color: white;
  }