.CardModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    height: 560px;
    width: 480px;
    background-color: #272727e8;
}

/* Small phones to small tablets: from 625px to 0px*/
@media only screen and (max-width: 1px) {
    .CardModalContainer {  
        height: 392px;
        width: 336px;
    }
    .CardModalTitle {
        font-size: 10px;
        letter-spacing: 0.12px;
        line-height: 18px;
        padding: 15px 19px;
    }
    .CardMapContainer {
        height: 105px;
    }
    .CardRemote {
        font-size: 15px;
        color: #BB86FC;
    }
    .CardLogoRound {
        height: 84px;
        width: 84px;
        right: 0px;
    }
}


.CardMapContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 100%;
    margin: 5px 0;
    position: relative;
  }

  .CardRemote {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(39deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);
    padding-left: 13%;
    color: rgba(255,255,255,0.87);
    font-size: 27px;
}

.CardModalTitle {
    color: rgba(255,255,255,0.87);
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
    padding: 20px 24px;
}
.CardLogoRound {
    height: 120px;
    width: 120px;
    border-radius: 100px;
    object-fit: contain;
    position: absolute;
    right: 0px;
    z-index: 1000;
    padding: 20px;
}

.CardModalDescription {
    color: rgba(255,255,255,0.6);
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 20px;
    padding: 24px;
    height: 40%;
    overflow: auto;
    margin-bottom: 15px;
}

.CardModalButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:center;
    height: 10%;
    width: 100%;
    border-top: 1.3px solid rgba(255,255,255,0.3);
}
.CardModalButtons {
    color: #BB86FC;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    margin: 0 21px 0 0;
    text-decoration: none;
    cursor: pointer;
    
}

.CardModalButtons[disabled] {
    pointer-events: none;
    cursor: not-allowed;
}

.CardModalButtons:hover {
    color: #fb6aac; 
}

.CardModalDescription a {
    text-decoration: none;
    color: #BB86FC;
}

