.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  background: #272727;
  height: 100%;
  
}

.JobsSearch {
  display: flex;
  flex-direction: column;
  
  align-items:center;
  padding-top: 20px;
  width: 100%;
  min-height: 800px;

}
.selectCountryList {
  order: 1;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.remoteJobs {
  display: flex;
  justify-content: center;
  order: 2;
  padding-bottom: 13px;
  color: rgba(255,255,255,0.87);
  
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
  width: 100%;
  box-shadow: 0px 7px 8px -8px rgba(0,0,0,0.75);
}

.searchResult {
  display: flex;
  justify-content: center;
  align-items:center;
  order: 3;
  width: 100%;
  height: 100%;
  margin-top: 23px;
}

.jobsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:center;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  color: rgba(255,255,255,0.87);
 
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: 100%;
  height: 100px;
  border-radius: 4px 4px 0 0;
  background-color: rgba(255,255,255,0.12);
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
}

.pagination {
  width: 80%
}

.pagination h3 {
  text-align: center;
  color: rgba(255,255,255,0.6);
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
}

.jobsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 20px;
}

.job {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: 20px 0;
  box-sizing: border-box;
  height: 312px;
  width: 344px;
  border: 1px solid rgba(255,255,255,0.12);
  color: rgba(255,255,255,0.12);
  border-radius: 4px;
  background-color: rgba(255,255,255,0.05);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}


.jobHeaderContainer {
  margin: 14px 16px 0 16px;
  display: flex;
  flex-direction: column;
}

.jobTitle {
  
  color: rgba(255,255,255,0.87);
  
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.jobCompanyName {
  margin: 14px 0;
  color: rgba(255,255,255,0.87);
  
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.jobLocationAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255,255,255,0.6);
  
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 16px 14px;
}

.jobLogoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background: #fff;
  margin: 5px 0;
}
.jobLogo {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.jobMoreInfo {
  height: 14%;
  color: #BB86FC;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 3%;
  text-align: end;
}
  
.detail-logo {
  height: 30px;
  float: right;
}

.job:hover {
  cursor: pointer;
  color: darkgray;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}


