.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background: #272727;
  
}

.JobsSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top: 20px;
  max-width: 80%;
}
.selectCountryList {
  order: 1;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.remoteJobs {
  order: 2;
  padding-bottom: 50px;
  color: rgba(255,255,255,0.87);
  
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.searchResult {
  display: flex;
  justify-content: center;
  align-items:center;
  order: 3;
}

.title {
  text-align: center;
  color: rgba(255,255,255,0.87);
 
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
}

.pagination {
  color: #fff;
  text-align: center;
  margin: 40px 0;
}


.jobsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  column-width: 50%;
}

.job {
  margin: 20px 0;
  box-sizing: border-box;
  height: 312px;
  width: 344px;
  border: 1px solid rgba(255,255,255,0.12);
  color: rgba(255,255,255,0.12);
  border-radius: 4px;
  background-color: rgba(255,255,255,0.05);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.jobHeaderContainer {
  margin: 14px 16px 0 16px;
  display: flex;
  flex-direction: column;
}

.jobTitle {
  
  color: rgba(255,255,255,0.87);
  
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.jobCompanyName {
  margin-top: 14px;
  color: rgba(255,255,255,0.87);
  
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.jobLocationAndDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(255,255,255,0.6);
  
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  margin: 16px 14px;
}

.jobLogoContainer {
  height: 30%;
  display: flex;
  justify-content: center;
  background: #fff;
  margin: 5px 0;
}
.jobLogo {
  height: 100%;
  width: auto;
}

  
.detail-logo {
  height: 30px;
  float: right;
}

.job:hover {
  cursor: pointer;
  color: darkgray;
}

.job-company {
  padding: 0 30px;
}

.job-dialog {
  padding: 30px 50px;
}


/* .elevation {
  height: 312px;
  width: 344px;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.05);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
} */