.CountrySelectContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 65%;
}

/* Small phones to small tablets: from 625px to 0px*/
@media only screen and (max-width: 625px) {
    .CountrySelectContainer {
        width: 90%;
    }
}

.CountrySelectInput {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.38);
    background-color: transparent;
    color: rgba(255,255,255,0.87);
    font-size: 16px;
    letter-spacing: 0.15px;
    line-height: 24px;
}

.CountrySelectOption {
    width: 100%;
}

.labelShow {
    align-self: end;
    margin-left: 10px;
    color: rgba(255,255,255,0.38);
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
}