.Button {
  height: fit-content;
  border-radius: 4px;
  background-color: #BB86FC;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  border-style: inset;
  border-width: 0;
  width: fit-content;
  min-width: 81px;
  margin: 8px;
  padding: 11px;
}

.Button.green {
  background-color: rgb(187 247 117 / 78%);
}


.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  opacity: 40%;
  color: #000;
  cursor: not-allowed;
}



.error {
  background: #CF6679;
}



.primary {
  background-color: rgb(187 247 117 / 78%);
}
