.StyledButtonDiv {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 36px;
    width: fit-content;
    border-radius: 4px;
    background-color: #BB86FC;
    margin: 10px;
    padding: 0 10px;
}

.StyledButtonDiv.big {
    height: 38px;
}

.StyledButtonDiv.green {
    background-color: rgb(187 247 117 / 78%);
}


.StyledButtonLink {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.25px;
    text-decoration: none;
    
}

.StyledButtonLink.big {
    font-size: 14px;
    letter-spacing: 1.25px;
    line-height: 16px;
    min-width: 81px;
}

.StyledButtonDiv:active {
    box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
  }

.StyledButtonDiv[disabled] {
    opacity: 40%;
    color: #000;
}
.StyledButtonLink[disabled] {
    pointer-events: none;
  }

/* Small phones to small tablets: from 460px to 0px*/
@media only screen and (max-width: 460px) {
    .StyledButtonDiv {
        height: 32px;
        padding: 0px 7px;
    }
    .StyledButtonLink {
        font-size: 10px;
        font-weight: 700;
        letter-spacing: 0.1px;
    }
}  